<form
	name="contact"
	action="https://formspree.io/{{ .Site.Params.formspree }}"
	method="post"
	class="contact-form{{ if not .IsHome }} contact-form--fluid{{ end }}"
>
	<div class="alert alert--hidden"></div>

	<label>
		<span>Name:</span>
		<input type="text" name="name" required>
	</label>

	<label>
		<span>E-Mail:</span>
		<input type="email" name="email" required>
	</label>

	<label>
		<span>Message:</span>
		<textarea name="message" rows="5"></textarea>
	</label>

	<button type="submit" class="btn btn--lg btn--accent">
		Send message
	</button>
</form>
