<nav aria-label="Docs Navigation" class="docs-navbar">
	<ul role="menubar">
		{{ range first 1 .Site.Menus.docs }}
			<li role="none">
				<a
					href="{{ .URL }}"
					role="menuitem"
					{{ if $.IsMenuCurrent "docs" . }} aria-current="page"{{ end }}
				>
					{{ .Name }}
				</a>
			</li>

			{{ range .Page.Pages }}
				<li role="none">
					<a
						href="{{ .RelPermalink }}"
						role="menuitem"
						{{ if eq $.RelPermalink .RelPermalink }} aria-current="page"{{ end }}
					>
						{{ .Title }}
					</a>

					{{ if gt (len .Pages) 0 }}
						<ul role="menubar">
							{{ range .Pages }}
								<li role="none">
									<a
										href="{{ .RelPermalink }}"
										role="menuitem"
										{{ if eq $.RelPermalink .RelPermalink }} aria-current="page"{{ end }}
									>
										{{ .Title }}
									</a>
								</li>
							{{ end }}
						</ul>
					{{ end }}
				</li>
			{{ end }}
		{{ end }}
	</ul>
</nav>
