{{ $pages := where (where .Site.Pages "Section" "project") "Params.featured" true }}
{{ if eq .Type "project" }}
	{{ $pages = .Pages }}
{{ end }}

<div class="container container--child featured-project__list">
	{{ range $i, $project := where .Site.Data.project "image" "!=" "" }}
		{{ with getJSON $project.url (dict "Accept" "application/vnd.github.v3+json") }}
			<article
				class="featured-project__content"
				style="background-color: {{ $project.accent }};"
			>
				<header class="featured-project__header">
					<h2 class="featured-project__title">{{ .name | humanize }}</h2>

					<div class="featured-project__description">
						{{ .description }}
					</div>

					<div class="featured-project__button">
						<a
							href="{{ .html_url }}"
							class="btn"
						>
							{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/v4.29.1/icons/github.svg" }}
								{{ .Content | replaceRE "<svg" "<svg class=\"btn__icon\"" | safeHTML }}
							{{ end }}

							<span>View on GitHub</span>
						</a>
					</div>
				</header>

				<div class="featured-project__cover">
					{{ partial "components/image.html" (dict "src" $project.image "alt" ( .name | humanize ) "class" "featured-project__image") }}
				</div>
			</article>
		{{ end }}
	{{ end }}

	{{ range $pages }}
		<article
			class="featured-project__content"
			style="background-color: {{ .Params.accent }};"
		>
			<header class="featured-project__header">
				<h2 class="featured-project__title">{{ .Title | humanize }}</h2>

				<div class="featured-project__description">
					{{ .Params.description }}
				</div>

				<div class="featured-project__button">
					<a href="{{ .RelPermalink }}" class="btn">
						{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/v4.29.1/icons/code.svg" }}
							{{ .Content | replaceRE "<svg" "<svg class=\"btn__icon\"" | safeHTML }}
						{{ end }}

						<span>View project</span>
					</a>

					{{ with .Params.preview }}
						<a
							href="{{ . }}"
							class="btn"
						>
							{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/v4.29.1/icons/eye.svg" }}
								{{ .Content | replaceRE "<svg" "<svg class=\"btn__icon\"" | safeHTML }}
							{{ end }}

							<span>Live preview</span>
						</a>
					{{ end }}
				</div>
			</header>

			<div class="featured-project__cover">
				{{ partial "components/image.html" (dict "context" . "src" .Params.cover "alt" .Title "class" "featured-project__image") }}
			</div>
		</article>
	{{ end }}
</div>
