{{ define "main" }}
	<article class="post">
		<header>
			<h1>{{- .Title -}}</h1>

			<div class="post__info">
				{{ partial "components/avatar.html" (dict "context" . "limit" 48) }}

				<div>
					{{ partial "metadata/author.html" . }}

					<span>
						at {{ .Date | time.Format ":date_long" }}
					</span>
				</div>
			</div>
		</header>

		{{ partial "components/post-share.html" . }}

		<div class="article">
			{{- .Content -}}
		</div>

		<div class="post-list__tags">
			{{ range (.GetTerms "tags") }}
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ end }}
		</div>

		<script src="https://giscus.app/client.js"
			data-repo="hapakaien/website"
			data-repo-id="MDEwOlJlcG9zaXRvcnkyNzI4NjI0NTg="
			data-category="Comments"
			data-category-id="DIC_kwDOEEOM-s4B-W1k"
			data-mapping="pathname"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="light"
			data-lang="en"
			crossorigin="anonymous"
			async>
		</script>
	</article>

	<aside class="post-sidebar">
		{{ partial "components/toc.html" . }}
	</aside>
{{ end }}
