{{ define "main" }}
  <main
    class="max-w-6xl mx-auto py-2 lg:py-4 px-4 xl:px-0 flex flex-col md:flex-row"
  >
    <article class="space-y-1 flex-1">
      <div class="space-y-1 text-xs sm:text-sm reset">
        {{ range (.GetTerms "tag") }}
          <a
            href="{{ .RelPermalink }}"
            title="{{ .Title }}"
            class="bg-nord12 hover:bg-nord11 text-nord6 px-1 inline-block transition hover:underline rounded"
          >
            <span class="text-nord6">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
      <div class="prose md:prose-lg lg:prose-xl max-w-none">
        <header class="font-serif reset"><h1>{{ .Title }}</h1></header>
        {{ partial "internal/image.html" (dict "src" .Params.image "alt" .Title "title" .Title "class" "mx-auto object-cover h-full w-full sm:w-5/6") }}
        <section>
          {{ .Content }}
          Link:
          <a
            href="{{ .Params.link }}"
            target="_blank"
            rel="noopener noreferrer"
            title="{{ .Title }}"
            >{{ .Params.link }}</a
          >
        </section>
      </div>
    </article>
    <aside class="flex-none md:w-1/4">
      {{- partial "theme/social-share.html" . -}}
      {{- partial "theme/toc.html" . -}}
    </aside>
  </main>
{{ end }}
