{{ define "main" }}
  <main class="max-w-4xl mx-auto py-8 px-4 lg:px-0 space-y-8">
    <section class="prose md:prose-lg lg:prose-xl xl:prose-2xl max-w-none">
      <header class="font-serif"><h1>{{ .Title }}</h1></header>
      {{ .Content }}
    </section>
    <section class="grid grid-cols-1 sm:space-y-4">
      {{ range .Pages }}
        <article
          class="bg-nord6 dark:bg-nord1 flex flex-col md:flex-row md:items-center shadow hover:shadow-lg rounded group duration-200 ease-in-out transform hover:-translate-y-1 overflow-hidden"
        >
          {{ partial "internal/image.html" (dict "src" .Params.image "alt" .Title "title" .Title "class" "flex-none object-cover h-full w-full md:w-80 md:py-4 lg:w-96 md:odd:order-last duration-200 filter group-hover:hue-rotate-30") }}
          <div class="p-4 space-y-2">
            <div class="prose md:prose-lg lg:prose-xl">
              <header>
                <a
                  href="{{ .RelPermalink }}"
                  title="{{ .Title }}"
                  class="reset"
                >
                  <h2>{{ .Title }}</h2>
                </a>
              </header>
              {{ .Params.description }}
            </div>
            <p>
              URL:
              <a
                href="{{ .Params.link }}"
                target="_blank"
                rel="noopener noreferrer"
                title="{{ .Title }}"
                class="link md:text-lg"
              >
                {{ .Params.link }}
              </a>
            </p>
            <ul class="space-x-1">
              {{ range .Params.tag }}
                <li class="inline-block">
                  <a
                    href="{{ "/tag/" | relLangURL }}{{ . | urlize }}"
                    title="{{ . }}"
                    class="bg-nord4 hover:bg-opacity-80 text-nord0 py-1 px-2 hover:underline duration-200 rounded"
                  >
                    #{{ . }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        </article>
      {{ end }}
    </section>
  </main>
{{ end }}
