{{ define "main" }}
  <main class="max-w-4xl mx-auto py-8 px-4 lg:px-0 space-y-8">
    <section class="prose md:prose-lg lg:prose-xl xl:prose-2xl max-w-none">
      <header class="font-serif">
        <h1>{{ .Title }}</h1>
      </header>
      {{ .Content }}
    </section>
    <section class="sm:text-lg lg:text-xl xl:text-2xl">
      <ul class="space-y-2">
        {{ range .Pages.ByTitle }}
          <li class="inline-block mr-1">
            <a
              href="{{ .RelPermalink }}"
              title="{{ .Title }}"
              class="bg-nord6 hover:bg-opacity-80 text-nord1 hover:underline py-1 px-2 duration-200 rounded"
            >
              #{{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
