<meta property="og:title" content="{{ partial "internal/title.html" . }}" />
<meta
  property="og:description"
  content="{{ partial "internal/description.html" . }}"
/>
<meta
  property="og:type"
  content="{{ if .IsPage }}
    article
  {{ else }}
    website
  {{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />

{{- with .Params.images -}}
  <meta
    property="og:image"
    content="{{ (partial "internal/opengraph-image.html" (dict "src" (index . 0))) | absURL }}"
  />
{{- else -}}
  {{- $images := .Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- if not $featured }}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{ end -}}
  {{- with $featured -}}
    <meta
      property="og:image"
      content="{{ (partial "internal/opengraph-image.html" (dict "src" $featured)) | absURL }}"
    />
  {{- else -}}
    <meta
      property="og:image"
      content="https://og-image.husen.id/{{ .Title }}.png?md=1&fontSize=75px&image=https%3A%2F%2Fgithub.com%2Fhapakaien%2Fassets%2Fraw%2Fmain%2Fhusen.id%2FIcon%2Fbase-optimized.svg"
    />
  {{- end -}}
{{- end -}}
{{- if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <meta property="article:section" content="{{ .Section }}" />
  <meta
    property="og:article:author"
    content="{{ humanize (partial "internal/author.html" .) }}"
  />
  <meta
    property="article:author"
    content="{{ humanize (partial "internal/author.html" .) }}"
  />
  {{ with .PublishDate }}
    <meta
      property="article:published_time"
      {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }}
    />
  {{ end }}
  {{ with .Lastmod }}
    <meta
      property="article:modified_time"
      {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }}
    />
  {{ end }}
{{- end -}}
{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}
  <meta property="og:locale" content="{{ . }}" />
{{ end }}
{{- with .Site.Title }}
  <meta property="og:site_name" content="{{ . }}" />
{{ end }}
{{- with .Params.videos }}
  {{- range . }}<meta property="og:video" content="{{ . | absURL }}" />{{ end }}
{{ end }}
{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}
  {{- range $name := . }}
    {{- $series := index $siteSeries ($name | urlize) }}
    {{- range $page := first 6 $series.Pages }}
      {{- if ne $page.Permalink $permalink }}
        <meta property="og:see_also" content="{{ $page.Permalink }}" />
      {{ end }}
    {{- end }}
  {{ end }}
{{ end }}
{{- /* Facebook Page Admin ID for Domain Insights */}}
{{- with .Site.Social.facebook_admin }}
  <meta property="fb:admins" content="{{ . }}" />
{{ end }}
