{{ $shares := slice (dict "name" "Facebook" "url" (print "https://facebook.com/sharer/sharer.php?u=" .Permalink) "icon" "facebook" "class" "hover:text-facebook") }}
{{ $shares = $shares | append (dict "name" "Twitter" "url" (print "https://twitter.com/intent/tweet/?text=" .Title "&url=" .Permalink) "icon" "twitter" "class" "hover:text-twitter") }}
{{ $shares = $shares | append (dict "name" "LinkedIn" "url" (print "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink "&title=" .Title "&summary=" .Title "&source=" .Site.BaseURL) "icon" "linkedin" "class" "hover:text-linkedin") }}
{{ $shares = $shares | append (dict "name" "Whatsapp" "url" (print "whatsapp://send?text=" .Title .Permalink) "icon" "whatsapp" "class" "hover:text-whatsapp") }}
{{ $shares = $shares | append (dict "name" "Telegram" "url" (print "https://telegram.me/share/url?" .Title "&url=" .Permalink) "icon" "telegram" "class" "hover:text-telegram") }}

<section>
  <header class="sm:pb-1 lg:pb-3 border-b-2 md:border-b-4 border-nord13">
    <h3 class="font-bold sm:text-lg lg:text-xl">Share</h3>
  </header>
  <div class="py-2 space-x-1">
    {{ range $shares }}
      <a
        href="{{ .url }}"
        target="_blank"
        rel="noopener noreferrer"
        title="Share on {{ .name }}"
        class="inline-flex"
      >
        {{ partial (print "svgs/" .icon ".svg") (dict "class" (print "h-6 lg:h-7 xl:h-8 w-6 lg:w-7 xl:w-8 fill-current text-nord3 duration-200 " .class)) }}
      </a>
    {{ end }}
  </div>
</section>
