<footer class="text-sm md:text-base">
  <section class="bg-brand3 dark:bg-gray-700 text-gray-700 dark:text-gray-200">
    <div
      class="container mx-auto p-4 2xl:px-0 sm:py-6 md:py-8 flex flex-col sm:flex-row sm:justify-between items-center space-y-1 sm:space-y-0"
    >
      <div class="flex flex-col items-center sm:items-start">
        <span
          class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl"
        >
          Have a question?
        </span>
        <span class="md:text-lg lg:text-xl text-center sm:text-left">
          This could be a quick way to get an answer from me.
        </span>
      </div>
      <div
        class="flex-none space-x-1 lg:space-x-2 text-gray-500 dark:text-gray-400 opacity-75"
      >
        {{ $socialMedias := slice (dict "title" "LinkedIn" "url" (print "https://linkedin.com/in/" .Site.Params.Social.linkedin ) "icon" "linkedin" "class" "group-hover:text-linkedin") }}
        {{ $socialMedias = $socialMedias | append (dict "title" "GitHub" "url" (print "https://github.com/" .Site.Params.Social.github ) "icon" "github" "class" "group-hover:text-github") }}
        {{ $socialMedias = $socialMedias | append (dict "title" "GitLab" "url" (print "https://gitlab.com/" .Site.Params.Social.gitlab ) "icon" "gitlab" "class" "group-hover:text-gitlab") }}
        {{ $socialMedias = $socialMedias | append (dict "title" "Twitter" "url" (print "https://twitter.com/" .Site.Params.Social.twitter ) "icon" "twitter" "class" "group-hover:text-twitter") }}
        {{ range $socialMedias }}
          <a
            href="{{ .url }}"
            title="{{ .title }}"
            target="_blank"
            rel="noopener"
            class="inline-flex items-center p-2 lg:p-3 rounded-full border border-transparent hover:border-gray-500 dark:hover:border-gray-400 duration-200"
          >
            {{ partial (print "svgs/" .icon ".svg") (dict "class" (print "h-6 md:h-7 w-6 md:w-7 stroke-current duration-200 " .class)) }}
          </a>
        {{ end }}
      </div>
    </div>
  </section>
  <section
    class="container mx-auto text-center mb-14 sm:mb-0 p-4 sm:p-6 md:p-8"
  >
    <span>
      Copyright &copy; 2020 - {{ now.Format "2006" }} &middot;
      <a href="/" title="Ahmad Husen" class="link">Ahmad Husen</a> </span
    ><br />
    <span
      >Made with
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-heart inline-flex items-center fill-current text-pink-500 h-4 w-4"
      >
        <path
          d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
        ></path>
      </svg>
      &
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-coffee inline-flex items-center fill-current h-4 w-4"
      >
        <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
        <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
        <line x1="6" y1="1" x2="6" y2="4"></line>
        <line x1="10" y1="1" x2="10" y2="4"></line>
        <line x1="14" y1="1" x2="14" y2="4"></line>
      </svg>
      in Indonesia.</span
    >
  </section>
</footer>
