<header>
  <nav
    class="container mx-auto flex justify-between items-center"
    aria-labelledby="primary-navigation"
  >
    <div
      class="px-4 py-2 sm:py-0 sm:flex sm:justify-start sm:items-center sm:space-x-4"
    >
      <a
        href=""
        title="{{ .Site.Title }}"
        class="text-gray-800 text-xl font-bold md:text-2xl hover:text-gray-700"
      >
        <svg
          class="inline-block stroke-current stroke-2 text-primary-500 h-10 w-10 hover:text-primary-700 sm:h-16 sm:w-16"
          width="157.98mm"
          height="157.98mm"
          version="1.1"
          viewBox="0 0 157.98 157.98"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        >
          <metadata>
            <rdf:RDF>
              <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                  rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                />
                <dc:title />
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g transform="translate(-24.378 3.3108)">
            <path
              d="m42.425 23.493s36.567-19.999 56.566 0c19.999 19.999 26.666 72.553 0 99.219-13.333 13.333-56.566 13.913-56.566 13.913s0.58068-43.233 13.913-56.566c26.666-26.666 79.22-19.999 99.219 0s0 56.566 0 56.566"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="20"
              style="paint-order: normal"
            />
          </g>
        </svg>
      </a>
      <div>
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">
            <span>{{ .Name }}</span>
          </a>
        {{ end }}
      </div>
    </div>
  </nav>
</header>
