<header>
  <nav
    class="container mx-auto flex justify-between items-center border-b border-nord4"
    aria-labelledby="primary-navigation"
  >
    <div
      class="px-4 py-2 sm:py-0 sm:flex sm:justify-start sm:items-center sm:space-x-4"
    >
      <a
        href="/"
        title="{{ .Site.Title }}"
        class="text-xl md:text-2xl font-bold"
      >
        {{ partial "svgs/icon.svg" (dict "class" "inline-block stroke-2 transition-colors delay-150 duration-300 text-nord9 hover:text-nord10 h-10 sm:h-16 w-10 sm:w-16") }}
      </a>
      <div
        class="bg-white text-xs md:text-lg lg:text-xl xl:text-2xl sm:text-base px-4 py-1 sm:p-0 fixed sm:static z-20 sm:z-0 bottom-0 inset-x-0 flex justify-between sm:justify-start sm:items-center border-t sm:border-0 border-nord4"
      >
        {{ $current := . }}
        {{ range .Site.Menus.main }}
          {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
          {{ $active = or $active (and (in (print "/" (index (split $current.RelPermalink "/") 1)) (print "/" (index (split .URL "/") 1))) (ne .URL "/")) }}
          <a
            href="{{ .URL }}"
            title="{{ .Name }}"
            class="inline-block {{ if or (eq .Identifier "home") (eq .Identifier "contact") }}
              sm:hidden
            {{ end }} sm:px-4 sm:py-6 xl:py-8 {{ if $active }}
              text-nord8 sm:border-nord8
            {{ else }}
              sm:border-transparent
            {{ end }} sm:hover:bg-nord6 sm:border-b-4 duration-200"
          >
            {{ $outline := "block sm:hidden" }}
            {{ if $active }}
              {{ $outline = "hidden" }}
            {{ end }}
            {{ partial (print "svgs/" .Params.icon "-outline.svg") (dict "class" (print $outline " h-8 w-8 mx-auto")) }}
            {{ $solid := "hidden" }}
            {{ if $active }}
              {{ $solid = "block sm:hidden" }}
            {{ end }}
            {{ partial (print "svgs/" .Params.icon "-solid.svg") (dict "class" (print $solid " h-8 w-8 mx-auto")) }}
            <span>{{ .Name }}</span>
          </a>
        {{ end }}
      </div>
    </div>
    <div class="px-4">
      <a
        href="/contact"
        title="Contact me"
        class="bg-nord11 hover:bg-nord12 text-nord6 hover:text-nord6 py-1 px-2 md:py-2 md:px-3 transition rounded"
      >
        Contact me
      </a>
    </div>
  </nav>
</header>
