<header class="site-header">
	<div
		class="wrapper wrapper--page"
	>
		<div class="site-header__identity">
			<a href="/" aria-label="{{ .Site.Title }}" class="logo">
				{{ with resources.Get "img/logo/optimized.svg" }}
					{{ .Content | safeHTML }}
				{{ end }}
			</a>

			<button aria-label="Open navigation menu" class="btn btn--menu">
				{{ with resources.GetRemote "https://github.com/tailwindlabs/heroicons/raw/master/optimized/outline/menu-alt-3.svg" }}
					{{ .Content | replaceRE "<svg" "<svg class=\"btn__icon btn__icon--menu btn__icon--show\"" | safeHTML }}
				{{ end }}

				{{ with resources.GetRemote "https://github.com/tailwindlabs/heroicons/raw/master/optimized/outline/x.svg" }}
					{{ .Content | replaceRE "<svg" "<svg class=\"btn__icon btn__icon--menu btn__icon--hidden\"" | safeHTML }}
				{{ end }}
			</button>
		</div>

		{{ partial "components/navbar.html" . }}
	</div>
</header>
