{{ define "main" }}
  {{ $gravatar := getJSON "https://gravatar.com/14ba128070d3b0f591a24a7c6b0c4854.json" }}
  {{ $gravatar := index $gravatar.entry 0 }}

  <main
    class="max-w-6xl mx-auto px-4 py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24 space-y-10"
  >
    <header class="font-serif space-y-1">
      <h2 class="font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">
        Hello! My name is Ahmad <mark>Husen</mark>.
      </h2>
      <h2 class="font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">
        I am a <mark>Web Developer</mark> from {{ $gravatar.currentLocation }}.
      </h2>
      <h3
        class="font-bold font-sans text-lg sm:text-xl lg:text-2xl xl:text-3xl"
      >
        I write <a href="/work" title="Portfolio" class="link">code</a>, and
        <a href="/blog" title="Blog" class="link">blog</a>. I like to make
        things run fast.
      </h3>
    </header>
    <p class="prose max-w-none sm:prose-lg lg:prose-xl xl:prose-2xl">
      {{ $gravatar.aboutMe }}
    </p>
    <div class="flex justify-center sm:justify-start">
      <a
        href="/about"
        title="About me"
        class="bg-nord9 hover:bg-nord10 text-white md:text-lg lg:text-xl py-2 px-3 xl:py-3 xl:px-4 rounded transition duration-200 ease-in-out transform hover:-translate-y-1"
      >
        More about me
      </a>
    </div>
  </main>
{{ end }}
