<script
  src="https://giscus.app/client.js"
  data-repo="hapakaien/husen.id"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyNzI4NjI0NTg="
  data-category="Comment"
  data-category-id="DIC_kwDOEEOM-s4B-W1k"
  data-mapping="pathname"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-theme="light"
  crossorigin="anonymous"
  async
></script>
<!--<script>
  this.$watch('dark', (value) => {
    document.querySelector('iframe.giscus-frame').contentWindow.postMessage({
      giscus: {
        setConfig: {
          theme: value ? 'dark_dimmed' : 'light',
        },
      },
    });
  });
</script>-->
